
<form class="new-post-form" method="POST" enctype="multipart/form-data">
{{!-- <h4>Upload a photo</h4>
<input type="file" name="imageFile" accept="image/*"/> --}}
  <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-description">Description</label>
      <textarea type="text" id="post-description" name="post-description"></textarea>
    </div>
     <div>
      <label for="post-price">Price</label>
      <input type="text" id="post-price" name="post-price"></input>
    </div>
    <button type="submit" class="">Create Listing</button>
</form>

{{#if posts.length}}
  <section>
    <h3>Your Listings</h3>
    {{> cards posts}}
  </section>
{{/if}}
<script src="/javascript/create-post.js"></script>