{{! <form class="login-form">
  <label for="login-email">Email: </label>
  <input type="text" placeholder="Email" name="login-email" id="login-email" />
  <label for="password">Password: </label>
  <input
    type="password"
    placeholder="Password"
    name="login-password"
    id="login-password"
  />
  <button type="submit" id="login-button">Login</button>
</form>

<form id="signup-form" class="signup-form">
  <label for="signup-username">Username: </label>
  <input
    type="text"
    placeholder="Username"
    name="signup-username"
    id="signup-username"
  />
  <label for="email">Email: </label>
  <input
    type="text"
    placeholder="Email"
    name="signup-email"
    id="signup-email"
  />
  <label for="signup-password">Password: </label>
  <input
    type="password"
    placeholder="Password"
    name="signup-password"
    id="signup-password"
  />
  <button type="submit" id="signup-button">Sign Up</button>
</form> }}
<div
  class="modal modal-signin position-static d-block bg-secondary py-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Sign In</h2>
      </div>

      <div class="modal-body p-5 pt-0">
        <form id="login-form">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control rounded-3"
              id="login-email"
              placeholder="name@example.com"
            />
            <label for="login-email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="login-password"
              placeholder="Password"
            />
            <label for="login-password">Password</label>
          </div>
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-danger"
            id="login-button"
            type="submit"
          >Login</button>

          <hr class="my-4" />
        </form>
      </div>
      <div class="mx-auto">
        <h3 class="border-bottom">OR</h3>
      </div>
      <!-- Sign up start -->
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0">Sign Up</h2>
      </div>
      <div class="modal-body p-5 pt-0">
        <form id="signup-form">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control rounded-3"
              id="signup-email"
              placeholder="name@example.com"
            />
            <label for="signup-email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control rounded-3"
              id="signup-username"
              placeholder="name@example.com"
            />
            <label for="signup-username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="signup-password"
              placeholder="Password"
            />
            <label for="signup-password">Password</label>
          </div>
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-danger"
            type="submit"
          >Continue</button>

          <hr class="my-4" />
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/login.js"></script>