<form class="login-form">
  <label for="login-email">Email: </label>
  <input type="text" placeholder="Email" name="login-email" id="login-email" />
  <label for="password">Password: </label>
  <input
    type="password"
    placeholder="Password"
    name="login-password"
    id="login-password"
  />
  <button type="submit" id="login-button">Login</button>
</form>

<form id="signup-form" class="signup-form">
  <label for="signup-username">Username: </label>
  <input
    type="text"
    placeholder="Username"
    name="signup-username"
    id="signup-username"
  />
  <label for="email">Email: </label>
  <input
    type="text"
    placeholder="Email"
    name="signup-email"
    id="signup-email"
  />
  <label for="signup-password">Password: </label>
  <input
    type="password"
    placeholder="Password"
    name="signup-password"
    id="signup-password"
  />
  <button type="submit" id="signup-button">Sign Up</button>
</form>
<script src="/javascript/login.js"></script>